<!DOCTYPE html>
<html>
    
  <head></head>
  <body>
      <p>
          You have received a message from your website!
          <%= "#{ @name }, #{ @email }."%>
      </p>
      <p>
          <%= @body %>
      </p>
  </body>
  
  
</html>